{{- $qualifier := "" -}}
{{- $method := "function" -}}
{{- $docstring := "" -}}
{{- if eq .Kind "class" -}}
{{- $qualifier = (print .Name ".") -}}
{{- $method = "method" -}}
{{- $docstring = .Docstring -}}
{{- end -}}
.. py:{{.Kind}}:: {{.Name}}
{{$docstring}}
{{range .Children}}
{{if eq .Kind "module"}}
:py:mod:`{{.Name}}`
{{.Docstring}}
{{else}}
{{template "Object" .}}
{{end}}
{{end}}
{{range .Attributes}}
.. py:attribute:: {{$qualifier}}{{.Name}}
{{.Docstring}}
{{end}}
{{range .Methods}}
.. py:{{$method}}:: {{$qualifier}}{{.Name}}{{.Signature}}
{{.Docstring}}
{{end}}
